@font-face {
  font-family: "Anonymous";
  src: url("/fonts/Anonymous_Pro.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Anonymous";
  src: url("/fonts/Anonymous_Pro_B.ttf") format("truetype");
  font-weight: bold;
}